[submodule "MobileApp"]
	path = MobileApp
	url = git@gitlab.com:beacon-team/Beacon-MobileApp.git
[submodule "Infrastructure"]
	path = Infrastructure
	url = git@gitlab.com:beacon-team/infrastructure.git
[submodule "MainService"]
	path = MainService
	url = git@gitlab.com:beacon-team/beacon-mainservice.git
[submodule "LandingApp"]
	path = LandingApp
	url = git@gitlab.com:beacon-team/beacon-landingapp.git
[submodule "DeviceFirmware"]
	path = DeviceFirmware
	url = git@gitlab.com:beacon-team/beacon-devicefirmware.git
[submodule "BackOfficeApp"]
	path = BackOfficeApp
	url = git@gitlab.com:beacon-team/Beacon-BackOfficeApp.git
